*{
    padding: 0%;
    margin: 0%;
    font: normal 14pt arial;
}

form#formulario{
    position: absolute;
    width: 500px auto;
    text-align: center;
}

form#formulario div{
    right: 25%;
    padding: 10px;
    text-align: right;
}
